<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=DESKTOP-9QBT55M\SQLEXPRESS;Initial Catalog=YASIN;User ID=yasin;Password=1234" />
  <add name="YASINConnectionString" connectionString="Data Source=DESKTOP-9QBT55M\SQLEXPRESS;Initial Catalog=YASIN;User ID=YASIN;Password=1234"
    providerName="System.Data.SqlClient" />
</connectionStrings>
<system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>

</system.webServer>
  <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>
